{erl_opts, [{parse_transform, lager_transform}, debug_info]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager", {branch, "master"}}}
    ,{gz_utils,	{git, "https://github.com/peiyangli/gz_utils.git", {branch, "master"}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [gz_nodes]}
]}.
